@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="#" class="d-flex justify-content-center">
        <input type="search" placeholder="search" class="control-form">
        <button type="submit" class="btn btn-outline-dark">search</button>
        <button type="reset" class="btn btn-outline-dark">reset</button>
    </form>
</div>